$primary-color-white: #FFFFFF;
$primary-background-light: #F2F6F7;
$primary-color-dark-green:#104E5B;
$primary-color-dark:#2B2D33;
$primary-color-dark-light:#616F80;
$primary-color-peachy: #FDC27A;
$primary-color-peachy-light:#FFE3C0;
$primary-color-olive: #99C932;

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;1,200;1,400;1,500&display=swap');

@mixin font($font-family:'Poppins',$font-weight: 400,$font-size: 16px,$line-height: 28px,$color:$primary-color-dark-green) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin flex($display:flex,$justify-content:center,$alighn-items:center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $alighn-items;
}